body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: gray;
}

/* Dropdown Menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 120px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #333;
}

.dropdown:hover .dropdown-content {
    display: block;
}

