<% layout('boilerplate/boilerplate')%>
<div class="container justify-content-center ">
  <div class="row justify-content-md-center ">
    <div class="col-10">
      <div
        class="row justify-content-md-center shadow-lg p-4 mb-5 bg-body-tertiary rounded border p-4"
      >
        <div class="col-12 col-md-6 text-center p-4">
          <h1 class="p-4 fw-bolder">Welcome</h1>

          <form>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Name"
              />
              <label for="floatingInput">Your Name</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Your number"
              />
              <label for="floatingInput">Contact</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Password</label>
            </div>

            <div class="form-floating">
            <button type="submit" class="btn btn-dark mt-3">Submit</button>
                </div>
          </form>
        </div>
        <div class="col-12 col-md-6 justify-content-center">
          <img
            src="/images/designer.png"
            class="img-fluid  register_image m-2"
            alt="image"
          />
        </div>
      </div>
    </div>
  </div>
</div>

